[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.pacificclimate.org/simple"
verify_ssl = true
name = "pcic"

[packages]
pywps = ">=4.2.6"
nchelpers = "==5.5.7"
netCDF4 = ">=1.5.4"
beautifulsoup4 = "==4.9.3"
wps-tools = {version = "2.0.0", extras = ["r", "test", "complete"]}

[requires]
python_version = "3.8"
